* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokeCard{
    background-image: linear-gradient(rgba(236, 236, 236, 0.735), rgb(158, 158, 158));
    font-family: 'Anta';
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black;
    transition: all 0.2s;
    font-size: 16px;
}


.pokeCard:hover {
    box-shadow: 0px 0px 20px rgba(0, 156, 0, 0.762);
    transform: scale(1.08);
}

.card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 100px;
    gap: 10px
}


@media only screen and (max-width: 600px) {
    .pokeCard {
        height: 110px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 125px;
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card_info {
        font-size: 12px;
    }

    .card_info img{
        height: 150px;
    }
  }
